@using BlockBuster.Models;
@model BlockBuster.Models.Copy;

<h2>Checkout this copy</h2>

<h4>Who do you want to check this copy out to?</h4>

@if (@Model.CheckedOut == false)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CopyId)

    @Html.Label("Select Patron")
    @Html.DropDownList("PatronId")

    <input type="submit" value="Save" />
  }
}
else
{
  <p>This copy is already checked out</p> 
}